#menuBar {
    background-color: #e5e5ff;
    width: 100%;
    position: fixed;
    z-index: 444;
}

#background {
    background: white; 
}

#contentBox {
    padding-top: 1%;
}

#textSegment {
    white-space:pre-wrap;
}

#mainBar {
    background-color: #e5e5ff;
}